  <li><a href="/">Home</a></li>
  <li><a href="/about/">About Us</a></li>
  <li><a href="/corporate-services/">Corporate Services</a></li>
  <li><a href="/healthcare-services/">Healthcare Services</a></li>
  <li><a href="/portfolio/">Portfolio</a></li>
  <li><a href="/samples-gallery/">Samples Gallery</a></li>
  <li><a href="/blog/">News</a></li>
	<li><a href="/contact/">Contact</a></li>
