  <li><a href="/about.html">About Us</a></li>
  <li><a href="/corporate-services.html">Services</a></li>
  <li><a href="/samples-gallery.html">Samples Gallery</a></li>
  <li><a href="/portfolio.html">Portfolio</a></li>
  <li><a href="/blog.html">News</a></li>
	<li><a href="/contact.html">Contact</a></li>
