<h2> Corporate, Healthcare, Private Homes</h2>
<p>The following are samples of work we have done with clients. </p>
<ul class="example-orbit" data-orbit>
  <li>
    <img src="images/LAP3080.jpg" alt="Sinai" />
    <div class="orbit-caption">
      Sinai Traumatic Brain Unit.
    </div>
  </li>
  <li class="active">
    <img src="images/LAP3080.jpg" alt="Johns Hopkins" />
    <div class="orbit-caption">
      John Hopkins Cheif Neurosurgeon.
    </div>
  </li>
  <li>
    <img src="images/LAP3080.jpg" alt="Private Home" />
    <div class="orbit-caption">
      Private Estate.
    </div>
  </li>
</ul>